* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   background: #f5f7fa;
   padding: 20px;
   font-family: Montserrat;
}

.wrapper{
   background: #ffff;
   display: flex;
}

  .sidebar {
    background: #1e2939;
    width: 370px;
    padding-top: 40px;   
    padding-bottom: 40px;   
}

 .my-photo {
   width: 370px;
   
}

.about-me-container {
   padding-left: 90px;
   padding-right: 90px;
   padding-top: 110px;
   padding-bottom: 110px;
}

.contacts-container {
   margin-top: 60px;
   margin-left: 40px;
   margin-right: 40px ;
}

.contacts-title {
   font-size: 22px;
   font-weight: 700;
   line-height: 24px;
   color: white;

}

.contacts-link{
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
   color: #434c5a;
}

.contacts-link-type{
   font-size: 14px;
   font-weight: 700;
   line-height: 24px;
   color: white;
   margin-right: 10px;
}


 .tech-skills-titlr {
   font-size: 22px;
   font-weight: 700;
   line-height: 24px;
   margin-bottom: 20px;
   color: white;
 }

 .tech-skills-conteiner {
   margin-left: 40px;
   margin-right: 40px;
   margin-top: 55px;

 }

  .tech-skills-item {
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;  
   margin-left: 15px;
   color: #ff6b08;
  }

  
  .tech-skills-item {
   color: white;
  }
  

 